<h1>Upload</h1>
<form action="/upload" method="POST" enctype="multipart/form-data">
  <input type="file" name="photo">
  <button type="submit">Upload</button>
</form>

{{#if photos}}
  <div class="gallery">
    {{#each photos}}
      <div class="photo">
        <img src="{{location}}">
      </div>
    {{/each}}
  </div>
{{/if}}
