:root {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

#content {
  margin: 0 auto;
  max-width: 900px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.gallery .photo img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
